<h2>Webbutveckling - Ramschema</h2>

<!--infogar ett felmeddelande om det inte går att ansluta till datan-->
@if(error()) {
    <div class="error">
        <p>{{ error() }}</p>
    </div>
}

<!--sökruta för kurserna-->
<div class="input-container">
<input type="text" placeholder="Sök efter kurs..." [(ngModel)]="filterValue" (input)="applyFilter()">
</div>

<!--vill att kurserna visas i en tabell, lagt till click på th för att sedan kunna sortera-->
<div class="table-container">
<table>
    <thead>
        <tr>
            <th (click)="sortingCourses('code')">Kurskod</th>
            <th (click)="sortingCourses('coursename')">Kursnamn</th>
            <th (click)="sortingCourses('progression')">Progression</th>
            <th>Kursplan</th>
        </tr>
    </thead>
    <tbody>
            <tr *ngFor="let course of filteredCourses()">
                <td>{{ course.code }}</td>
                <td>{{ course.coursename }}</td>
                <td>{{ course.progression }}</td>
                <td><a [href]="course.syllabus" target="_blank">Visa kursplan</a></td>
            </tr>
    </tbody>
</table>
</div>
