h2 {
    font-size: 2em;
    text-align: center;
    padding: 1em;
    font-weight: lighter;
}

.error {
    color: red;
    font-size: 1.3em;
    text-align: center;
    padding: 1em;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0.5em;
}

input {
    font-size: 1.1em;
    padding: 0.4em;
    max-width: 400px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0 ,0, 0.1);
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 0 auto;
    padding: 20px;
    overflow-x: auto;
}

th {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    text-decoration: underline;
    background-color: #d6d5d5;
    cursor: pointer;
}

td {
    font-size: 1.1em;
    padding: 10px;
    border-bottom: 2px solid #ccc;
}

table {
    border-collapse: collapse;
    max-width: 800px;
    width: 100%;
    background-color: rgb(243, 243, 243);
    box-shadow: 0 5px 10px rgba(0, 0 ,0, 0.1);
    border-radius: 10px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


